.container{
  padding: 15px 40px;
  background: rgba(00,81,00,0.8);
  text-align: center;
  color: white;
  box-shadow: 2px 2px 5px 0px rgba(114,189,121,1);
  text-align: center;
}

#addelement{
  position: absolute;
  top: 10%;
  left: 15%;
}

#viewElemnet{
  position: absolute;
  top: 10%;
  right: 15%;
}

img{width: 20px;}
input{margin: 6px;}

.form_input > label, .form_select > label { display: block; margin-bottom: 5px; font-weight: 300; }

.form_input input { height: 25px; }

select{ height:30px!important;width:160px; }

form > button { height:30px!important;width:160px; font-size: 1.5em;color:#008100; background: #72bd79; border-color: #c6ff37;}

table{border-collapse: collapse;}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.width20{width: 20%;}
.marginTwin{margin: 100px;}
