footer{
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  background-color: #008100;
  background-image: linear-gradient(135deg, #008100 11%, #c6ff37 50%, #72bd79 84%);
  z-index: 5;
}

h2 {
  display: inline;
  color: white;
  vertical-align: super;
}
