header{
  left: 0px;
  right: 0px;
  top: 0px;
  text-align: center;
  background-color: #008100;
  background-image: linear-gradient(315deg, #008100 11%, #c6ff37 50%, #72bd79 84%);
  z-index: 5;
}

#logo{
  width: 70px;
  display: inline;
  vertical-align: bottom;
  }

  h1 {
    display: inline;
    color: white;
    vertical-align: super;
  }
